
server/apache/logs/access.log
server/apache/logs/error.log
server/install/install.sys
server/mysql/data/aria_log.00000001
server/mysql/data/aria_log_control
server/mysql/data/ib_buffer_pool
server/mysql/data/ib_logfile0
server/mysql/data/ibdata1
server/mysql/data/mysql_error.log
/server/xampp_stop.exe
/server/mysql_stop.bat
/server/mysql/
/server/readme_en.txt
/server/setup_xampp.bat
/server/apache_stop.bat
/server/apache_start.bat
/server/php/
/server/moodledata/
/server/mysql_start.bat
/server/tmp/
/server/xampp-control.ini
/server/readme_de.txt
/server/sendmail/
/server/xampp_start.exe
/server/xampp-control.exe
/server/locale/
/server/licenses/
/server/install/
/server/cgi-bin/
/server/apache/
/server/moodle/.grunt/
/server/moodle/calendar/
/server/moodle/grade/
/server/moodle/enrol/
/server/moodle/auth/
/server/moodle/course/
/server/moodle/.upgradenotes/
/server/moodle/competency/
/server/moodle/cache/
/server/moodle/contentbank/
/server/moodle/badges/
/server/moodle/.phpstorm.meta.php/
/server/moodle/completion/
/server/moodle/dataformat/
/server/moodle/comment/
/server/moodle/files/
/server/moodle/backup/
/server/moodle/analytics/
/server/moodle/availability/
/server/moodle/cohort/
/server/moodle/error/
/server/moodle/customfield/
/server/moodle/filter/
/server/moodle/admin/
/server/moodle/blog/
/server/moodle/favourites/
/server/moodle/communication/
/server/moodle/media/
/server/moodle/local/
/server/moodle/group/
/server/moodle/login/
/server/moodle/install/
/server/moodle/lib/
/server/moodle/mnet/
/server/moodle/lang/
/server/moodle/message/
/server/moodle/h5p/
/server/moodle/iplookup/
/server/moodle/notes/
/server/moodle/.shifter.json
/server/moodle/draftfile.php
/server/moodle/editmode.php
/server/moodle/.gitignore
/server/moodle/index.php
/server/moodle/security.txt
/server/moodle/help.php
/server/moodle/behat.yml.dist
/server/moodle/README.md
/server/moodle/.stylelintrc
/server/moodle/search/
/server/moodle/moodlenet/
/server/moodle/tag/
/server/moodle/.gherkin-lintrc
/server/moodle/Gruntfile.js
/server/moodle/config-dist.php
/server/moodle/INSTALL.txt
/server/moodle/CONTRIBUTING.md
/server/moodle/composer.json
/server/moodle/COPYING.txt
/server/moodle/phpcs.xml.dist
/server/moodle/package.json
/server/moodle/file.php
/server/moodle/payment/
/server/moodle/brokenfile.php
/server/moodle/TRADEMARK.txt
/server/moodle/r.php
/server/moodle/webservice/
/server/moodle/.eslintrc
/server/moodle/user/
/server/moodle/rss/
/server/moodle/plagiarism/
/server/moodle/userpix/
/server/moodle/pluginfile.php
/server/moodle/tokenpluginfile.php
/server/moodle/.nvmrc
/server/moodle/reportbuilder/
/server/moodle/npm-shrinkwrap.json
/server/moodle/repository/
/server/moodle/report/
/server/moodle/version.php
/server/moodle/portfolio/
/server/moodle/theme/
/server/moodle/githash.php
/server/moodle/rating/
/server/moodle/question/
/server/moodle/UPGRADING.md
/server/moodle/privacy/
/server/moodle/install.php
/server/moodle/config.php
/server/moodle/phpunit.xml.dist
/server/moodle/help_ajax.php
/server/moodle/composer.lock
/server/moodle/pix/
/server/moodle/.jshintrc
/server/moodle/my/
/server/moodle/.jshintignore
/server/moodle/mod/bigbluebuttonbn/
/server/moodle/mod/lti/
/server/moodle/mod/index.html
/server/moodle/mod/chat/
/server/moodle/mod/data/
/server/moodle/mod/imscp/
/server/moodle/mod/book/
/server/moodle/mod/label/
/server/moodle/mod/resource/
/server/moodle/mod/quiz/
/server/moodle/mod/scorm/
/server/moodle/mod/choice/
/server/moodle/mod/forum/
/server/moodle/mod/h5pactivity/
/server/moodle/mod/folder/
/server/moodle/mod/survey/
/server/moodle/mod/feedback/
/server/moodle/mod/url/
/server/moodle/mod/wiki/
/server/moodle/mod/subsection/
/server/moodle/mod/page/
/server/moodle/mod/glossary/
/server/moodle/mod/workshop/
/server/moodle/mod/lesson/
/server/moodle/mod/assign/
