.outer-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    overflow: hidden;
    border: none;
    padding: 10px 0;
    width: 100%;
}

.outer-box .expectedtime {
    font-size: 18px;
}

.infobox {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
    white-space: nowrap;
}

.infobox:last-of-type {
    margin-right: 0;
}

.infobox p:not(.eta) {
    padding: 5px 2px;
    border: 1px solid #000;
    margin-bottom: 10px;
    white-space: break-spaces;
}

.infobox .infoboxfiles {
    display: flex;
    align-items: flex-start;
    border: solid 1px #000;
    margin-bottom: 10px;
    padding: 5px 2px;
    overflow: hidden;
}

.infobox .infoboxfiles .link a {
    display: block;
    width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.infobox .infoboxfiles p.eta {
    font-size: 0.625rem;
    margin: 0;
}

.infobox .infoboxfiles img {
    max-width: 20px;
}

.nav-btn {
    border-radius: 5px;
    background-color: #D9D9D9;
    border: 1px solid #000;
    padding: 10px 20px;
}

#prevbtn, #nextbtn {
    padding: 1px 20px;
}

.btncontainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.inline-container {
    display: flex;
    gap: min(20px);
    justify-content: space-between;
    align-items: center; /* Vertically aligns items */
}

.inline-container .name {
    font-size: 18px;
}

.inline-container .duedate {
    font-size: 18px;
}
/* CSS for the time taking modal */
#info-homework-modal .homeworkmaterialcontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

#info-homework-modal .homeworkmaterialcontainer > div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

#info-homework-modal .homeworkmaterialcontainer > div:last-child{
    border-bottom: 0;
}

#info-homework-modal .homeworkmaterialcontainer > div i{
    font-size: 24px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

#info-homework-modal .homeworkmaterialcontainer > div h3, #info-homework-modal .homeworkmaterialcontainer > div a{
    margin: 0;
    flex: 1;
    font-size: 20px;
    font-weight: 400;
}

#info-homework-modal .homeworkmaterialcontainer > div input{

}