<div class="container">
    <div>
        <h5>Average reading speed: {{weightedreadingspeed}} minutes per page.</h5>
        <h5>Average homework time per day: {{timeperday}} minutes.</h5>
        <h5>Percentage of homework completed: {{percentcompleted}}%.</h5>
    </div>
</div>
