<div id="info-homework-modal">
    <p class="homeworkcompleted">{{nohomework}}</p>
    {{#homeworkdescription}}
    <p class="homeworkdescription">{{homeworkdescription}}</p>
    {{/homeworkdescription}}
    <!-- Add additional content or buttons here -->
    <div class="homeworkmaterialcontainer">
        {{#literature}}
            <div id="literature-{{id}}">
                <i class="fa-solid fa-file-text"></i>
                <a href="{{fileurl}}">{{description}}</a>
                <p>Expected time: {{expectedTime}} minutes </p>
                <form>
                    <input type="number" class="homework-time-literature" id="{{id}}" name="homework-time" min="1" placeholder="Completion time (min)">
                </form>
            </div>
        {{/literature}}

        {{#links}}
            <div id="links-{{id}}">
                <i class="fa-solid fa-link"></i>
                <a href="{{link}}">{{description}}</a>
                <p>Expected time: {{expectedTime}} minutes </p>
                <form>
                    <input type="number" class="homework-time-links" id="{{id}}" name="homework-time" min="1" placeholder="Completion time (min)">
                </form>
            </div>
        {{/links}}

        {{#videos}}
            <div id="videos-{{id}}">
                <i class="fa-solid fa-file-video-o"></i>
                <a href="{{fileurl}}">{{description}}</a>
                <p>Expected time: {{expectedTime}} minutes </p>
                <form>
                    <input type="number" class="homework-time-videos" id="{{id}}" name="homework-time" min="1" placeholder="Completion time (min)">
                </form>
            </div>
         {{/videos}}
        </div>
</div>