default:
  suites:
    default:
      paths:
        - blocks/homework/tests/behat
        - mod/homework/tests/behat
      contexts: {  }
  extensions:
    Behat\MinkExtension:
      base_url: 'http://localhost:8000'
      browserkit_http: null
      webdriver: null
    Moodle\BehatExtension:
      moodledirroot: /Should/Change/To/Moodle/www/dir
      steps_definitions: {  }
